<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  
  <!--組織行事曆-->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DepartmentScheduleMaster"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <!--新增事件-->
  <location path="CreateEvent.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DepartmentScheduleMaster"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <!--新增假日-->
  <location path="CreateHoliday.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DepartmentScheduleMaster"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

 
</configuration>
