<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  
  <!-- 成本中心維護 -->
  <location path="CostCenterDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,SystemAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
