<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="LoginLog/ChartImage.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PrivateMessage/ChartImage.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/ChartImage.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Forum/ChartImage.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!--最近一個月登入使用者統計權限設定-->
  <location path="LoginLog/LoginCount.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SystemAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--未登入使用者查詢權限設定-->
  <location path="LoginLog/NotLoginUser.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SystemAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 使用者登入次數統計表 -->
  <location path="LoginLog/LoginCountReportWithDayWeekMonth.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!--最近一個月訊息統計	-->
  <location path="PrivateMessage/MonthMessageCount.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SystemAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--公事包使用容量統計-->
  <location path="Briefcase/UseFileSizeCount.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SystemAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--公告張貼統計-->
  <location path="Bulletin/UserPostCount.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SystemAnalysisViewer,BulletinManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--討論區發表篇數統計-->
  <location path="Forum/AllForumPostArticles.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumAnalysisViewer,ForumManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--最近一年發表篇數統計-->
  <location path="Forum/RecentYearPostArticles.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumAnalysisViewer,ForumManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--最近一個月討論區使用者資訊統計-->
  <location path="Forum/ForumUserInfo.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumAnalysisViewer,ForumManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
    
  <!--員工職級分析權限設定-->
  <location path="Organization/EmplJobTitle.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,EmployeeAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--員工專長分析權限設定-->
  <location path="Organization/EmplSkill.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,EmployeeAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--員工教育程度分析權限設定-->
  <location path="Organization/EmplEducation.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,EmployeeAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--統計分析>管理>權限設定-->
  <location path="AuthoritySetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>