<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--活動看板設定-->
  <location path="EventsBoardDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,EventsBoardManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
