<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- 人員刷卡設定查詢 -->
  <location path="QueryDutyPunchSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
