<?xml version="1.0"?>
<configuration>
  <system.web>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".dmg" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".pkg" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
  <location path="Windows">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Mac">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
