<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  
  <!-- 影音專區	-->
  <location path="QueryOnlineLook.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,MovieClassManager,MovieManager,MovieUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 影音維護	-->
  <location path="OnlineLookMA.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,MovieClassManager,MovieManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
