<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--請假紀錄查詢-->
  <location path="QueryLeaveDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--加班記錄查詢-->
  <location path="QueryOvertimeDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--出差記錄查詢-->
  <location path="QueryTravelDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--出勤記錄查詢-->
  <location path="QueryPunchByUser.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--可休假查詢-->
  <location path="QueryAttendanceDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--特休記錄查詢-->
  <location path="QueryYearLeaveDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--補休記錄查詢-->
  <location path="QueryTimeOffDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--加班單(批次申請)查詢	-->
  <location path="QueryBatchOvertimeDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--加班單(批次申請)查詢	-明細Dialog-->
  <location path="OverTimeBatchDetail.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
    <!--加班單(批次申請)查詢	-明細Adv Dialog-->
  <location path="OverTimeBatchDetailAdv.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--加班單(批次申請)查詢	-排程Dialog-->
  <location path="OverTimeBatchTriggerStatus.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>



</configuration>
