<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--維護部門代碼-->
  <location path="DeptCodeMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--維護部門代碼-匯出-->
  <location path="ExportDeptData.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--維護部門代碼-匯入-->
  <location path="ImportDeptData.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--部門與人員同步-->
  <location path="SyncHRDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--部門與人員同步-手動同步Dialog-->
  <location path="ExecuteSyncHR.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--部門與人員同步-明細Dialog-->
  <location path="SyncHRDetail.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--部門與人員同步-訊息Dialog-->
  <location path="SyncHRLog.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
