<?xml version="1.0" ?>
<configuration>
  <location path="DocStore/DocNoPrivilegeDL.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- 常用文件區 -->
  <location path="DocStore/CommonUseList.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSReader,DMSViewer,DMSFolderMang,DMSAuthor,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 文件庫 -->
  <location path="DocStore/Default.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSReader,DMSViewer,DMSFolderMang,DMSAuthor,DMSAdmin,DMSDocPermission"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 文件清冊 -->
  <location path="DocStore/DocList.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSReader,DMSViewer,DMSFolderMang,DMSAuthor,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 最新資訊 -->
  <location path="DocStore/News.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSReader,DMSFolderMang,DMSAuthor,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Admin/AddNewClass.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--變更作者-->
  <location path="Admin/ChangeAuthor.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin,DMSFolderMang"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>



  <!--事件檢視-->
  <location path="Admin/DMSEventLog.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

 

  <!--變更文件所屬類別-->
  <location path="Admin/ChangeClass.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--類別Tree維護-->
  <location path="Admin/ClassMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--類別維護-->
  <location path="Admin/ClassModify.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--PDF文字顏色--><!--
  <location path="Admin/ColorPicker.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!--PDF浮水印設定-->
  <location path="Admin/DMSWatermark.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin,"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--文件維護左頁-->
  <location path="Admin/DocMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin,DMSFolderMang"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--目錄維護-->
  <location path="Admin/FolderMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin,DMSFolderMang"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Admin/LinkDoc.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--搬移文件-->
  <location path="Admin/MoveDoc.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin,DMSFolderMang"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--PDF預覽-->
  <location path="Admin/PDFPreViewer.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Admin/SubscribeMang.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Admin/SysLog.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--文件調閱管理-->
  <location path="Admin/DocLendMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>


  <!--WKF流程維護-->
  <location path="Admin/WKFFlowMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- WKF文件異地發佈狀態查詢 -->
  <location path="Admin/QueryRemoteDoc.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 離線文件資訊管理 -->
  <location path="Admin/UDocSecurityMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

    <!--DMS Web Service & Handler-->
    <location path="Service">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>

  <!--文件管理分析-->
  <!--文件評比統計-->
  <location path="Query/StatisticsDocGrade.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin,DMSAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 文件下載次數統計-->
  <location path="Query/StatisticsDocDownloadRate.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin,DMSAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 作者發表文件數	-->
  <location path="Query/StatistcsDocAuthor.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DMSAdmin,DMSAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--文件管理分析-->

  <!--BorrowStatus 沒有該頁面-->
  <!--<location path="Person/BorrowStatus.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSAuthor,DMSFolderMang,DMSReader"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- PaperMang 無該頁面 -->
  <!--<location path="Person/PaperMang.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSFolderMang,DMSAuthor,DMSReader"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- SubscribeInfo 無該頁面 -->
  <!--<location path="Person/SubscribeInfo.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSFolderMang,DMSAuthor,DMSReader"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- 銷毀審核 -->
  <location path="Person/DMSDeleteApprove.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSFolderMang"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 調閱審核 -->
  <location path="Person/DMSLoanApprove.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSFolderMang"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 作廢審核 -->
  <location path="Person/DMSVoidApprove.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSFolderMang"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 訂閱清單 -->
  <location path="Person/SubscribeList.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSReader,DMSViewer,DMSFolderMang,DMSAuthor,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 發佈審核 -->
  <location path="Person/WaitApprove.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSFolderMang,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 銷毀申請狀態 -->
  <location path="Query/DeleteApplyStatus.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSFolderMang,DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--  -->
  <location path="Query/FullTextSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSAuthor,DMSFolderMang,DMSReader,DMSViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 調閱歷程 -->
  <location path="Query/LandHistory.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSAuthor,DMSFolderMang,DMSReader,DMSViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 調閱申請狀態 -->
  <location path="Query/LoanApplyStatus.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSAuthor,DMSFolderMang,DMSReader,DMSViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 紙本分發查詢 -->
  <location path="Query/PrintRecordSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 調閱文件 -->
  <location path="Query/QueryLendDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSDocLendViewer,DMSFolderLendViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 改版中文件 -->
  <location path="Query/RevisedDocSearch.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSAuthor,DMSFolderMang"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 作廢申請狀態 -->
  <location path="Query/VoidApplyStatus.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSAuthor,DMSFolderMang"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 發佈申請狀態 -->
  <location path="Query/WaitApplyStatus.aspx">
    <system.web>
      <authorization>
        <allow roles="DMSAdmin,DMSAuthor,DMSFolderMang,DMSReader"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  
</configuration>
