<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- 設備類別管理 -->
  <location path="ClassManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PlantManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 新增修改類別 -->
  <location path="CreateClass.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PlantManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 設備管理 -->
  <location path="PlantManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PlantManager,ClassCustodian"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 新增修改設備 -->
  <location path="CreatePlant.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PlantManager,ClassCustodian"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 借用管理 -->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PlantManager,ClassCustodian,PlantCustodian"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 借用記錄 -->
  <location path="BorrowRecord.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PlantManager,ClassCustodian,PlantCustodian"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 場地內配備主檔維護	-->
  <location path="EquipManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PlantManager,ClassCustodian"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 例外設定	-->
  <!--<location path="PlantExceptionDetail.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PlantManager,ClassCustodian,PlantCustodian"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- 新增例外設定	-->
  <!--<location path="PlantExceptionDialog.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PlantManager,ClassCustodian,PlantCustodian"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->


</configuration>
