<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="applications" type="Ede.Uof.EIP.Security.WebService.Config.ApplicationsSection, Ede.Uof.EIP.Security" />
  </configSections>

  <applications>
  
   <!-- <item name="外部系統代號" PrivateKey="經過RSA編碼後的私鑰" /> -->
  </applications>

  <system.webServer>
    <handlers>
      <add name="StopDirectoryBrowsing" path="*." resourceType="Directory" verb="*"    preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
    </handlers>
  </system.webServer>
  
</configuration>
