<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  
  <!-- 交辦知會 -->
  <location path="QueryDevolveList.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,Member"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 待辦事項	-->
  <location path="QueryWorkList.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,Member"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
