<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  
  <!-- UChat管理 -->
  <location path="QueryUChatRoomDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="UChatManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
