<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--大數據部門維護-->
  <location path="VirtualDeptSettingDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--大數據部門維護-維護資料Dialog-->
  <location path="VirtualDeptSettingEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
