<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--專案維護-->
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,PMSManager,PMSCreator,PMS_PM,PMSSeriesDirector,PMSAuditor"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  <!--建立專案-->
  <location path="CreateProject.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager,PMSCreator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--搬移-->
  <location path="Move.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager,PMSCreator,PMS_PM,PMSSeriesDirector"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--專案設定/專案資訊-->
  <location path="ProjectSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager,PMSCreator,PMS_PM,PMSAuditor,PMSSeriesDirector,PMSTaskDirector,PMSViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--階段內容-->
  <location path="SeriesDetail.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager,PMSCreator,PMS_PM,PMSAuditor,PMSSeriesDirector,PMSTaskDirector,PMSViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--任務內容-->
  <location path="TaskDetail.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager,PMSCreator,PMS_PM,PMSAuditor,PMSSeriesDirector,PMSTaskDirector,PMSViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--提醒-->
  <location path="Remind.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager,PMSCreator,PMS_PM,PMSSeriesDirector"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--稽催-->
  <location path="Urge.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager,PMSCreator,PMS_PM,PMSSeriesDirector"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
