<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  
  <!-- 行事曆工作類別維護	-->
  <location path="WorkClass/default.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
