<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  
  <!-- 相簿專區	-->
  <location path="User/Default.aspx">
    <system.web>
      <authorization>
        <allow roles="AlbumClassManager,AlbumManager,AlbumUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 相簿維護 -->
  <location path="Admin/Default.aspx">
    <system.web>
      <authorization>
        <allow roles="AlbumClassManager,AlbumManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
