<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--管理目錄權限控制-->
  <!--電子公文>管理>權限設定-->
  <location path="Management/SetAuthManager.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ElectronicDocumentMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--電子公文>管理>基本設定-->
  <location path="Management/BasicSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ElectronicDocumentMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--電子公文>管理>受文機關維護-->
  <location path="Management/EditOrg.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ElectronicDocumentMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--電子公文>管理>字號類別維護-->
  <location path="Management/SendNumberStringMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ElectronicDocumentMaster,EdocOrgMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--電子公文>管理>事件檢視-->
  <location path="Management/LogViewer.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ElectronicDocumentMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--收發文作業目錄權限控制-->
  <!--電子公文>收發文作業>收文起單-->
  <location path="ReceiveDoc/ReceiveEdoc.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ElectronicDocumentMaster,EdocOrgMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--電子公文>收發文作業>公文檔製作-->
  <location path="SendDoc/SendEdoc.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ElectronicDocumentMaster,EdocOrgMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--個人目錄權限控制-->
  <!--電子公文>個人>常用聯絡人設定-->
  <location path="Personal/ContactPerson.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--我的公文 -->
  <location path="Personal/PersonalEdoc.aspx">
    <system.web>
      <authorization>
        <allow roles="Employee"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  
  
</configuration>
