<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  
  <!-- 公司語錄 -->
  <location path="SloganMaster.aspx">
    <system.web>
      <authorization>
        <allow roles="SloganManager,SystemSloganAdmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
