<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--Admin目錄權限控制-->
	<!-- 表單管理-->
	<location path="Admin/FormAdmin.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 送往下一站點-->
	<location path="Admin/SendNextSite.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFResponsible"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 表單歸檔主頁-->
	<location path="Admin/FormFiling.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFArchiveUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 表單歸檔_分類-->
	<location path="Admin/FilingClassQuery.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFArchiveUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  <!-- 表單作廢 -->
  <location path="Responsible/CancelForm.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFResponsible,WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

	<!-- 表單歸檔_查詢-->
	<location path="Admin/FilingConditionQuery.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFArchiveUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  <!-- 回傳狀況查詢 -->
  <location path="Admin/CallbackFormList.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 設定他人代理人 -->
  <location path="Admin/SetAgent.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 呼叫DLL狀態查詢 -->
  <location path="Admin/CallDllFormList.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 管理員觀看表單記錄 -->
  <location path="Admin/AdminFootprint.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFAdminFootprint"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 外部WS註冊 -->
  <location path="Admin/EndFormCallBack_MasterPage.aspx">
    <system.web>
      <authorization>
        <allow roles="WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
	<!--以上為Admin目錄權限控制-->


	<!--Agetn目錄權限控制-->
	<location path="Agent">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!--以上為Agent目錄權限控制-->


	<!--Auth目錄權限控制-->
	<location path="Auth">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!--以上為Auth目錄權限控制-->


	<!--FlowManangement目錄權限控制-->
	<location path="FlowManagement">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFDesigner,WKFClassifiedDesigner,Employee,Member"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<!--以上為FlowManangement目錄權限控制-->


	<!--FormManangement目錄權限控制-->
	<location path="FormManagement/Default.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager,WKFDesigner,WKFClassifiedDesigner"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

	<!--維護判斷式-->
	<location path="FormManagement/ManageFormConditionBase.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFDesigner,WKFArchiveUser,WKFInnerUser,WKFClassifiedDesigner"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  
  
	<!--以上為FormManangement目錄權限控制-->


	<!--FormUse目錄權限控制-->
	<!-- 表單申請-->
	<location path="FormUse/FormLibrary.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 填寫表單_草稿-->
	<location path="FormUse/AddFormScript.aspx">
		<system.web>
			<authorization>
				<allow roles="FormUse/SystemAdmin,WKFManager,WKFUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 待簽核表單-->
	<location path="FormUse/FormHandle/ToBeSignForm_Self.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 代理簽核表單-->
	<location path="FormUse/FormHandle/ToBeSignForm_Agent.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 取回未簽核表單-->
	<location path="FormUse/FormRetrieve.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 已送審表單-->
	<location path="FormUse/FormHandle/FormExamined.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 申請取回-->
	<location path="FormUse/FormHandle/FormGetBack.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 被知會表單-->
	<location path="FormUse/FormHandle/FormAlert.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 表單查詢-->
	<location path="FormUse/FormHandle/FormQuery.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 檔案上傳-->
	<location path="FormUse/FileCenterDialog.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 列印-->
	<location path="FormUse/FormPrint.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 跟催-->
	<location path="FormUse/hurryToSign.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 草稿列印-->
	<location path="FormUse/ScriptPrint.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 觀看-->
	<location path="FormUse/ViewForm.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 觀看後進行簽核-->
	<location path="FormUse/ViewFormFromSign.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!--FreeTask-->
	<!-- 送出表單_第一站點-->
	<location path="FormUse/FreeTask/SendFirstSite.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 送出表單_其它站點-->
	<location path="FormUse/FreeTask/SendOtherSite.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!-- 填寫表單-->
	<location path="FormUse/FreeTask/SignNodeForm.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!--DefinedTask-->
	<!--第一站-->
	<location path="FormUse/DefinedTask/FirstSite.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<!--第一站點送出-->
	<location path="FormUse/DefinedTask/FirstSiteSend.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  

  <!--通用郵件維護-->
  <location path="FormManangement/CommonMailSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--其它站點送出-->
	<location path="FormUse/DefinedTask/OtherSiteSend.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,WKFManager,WKFInnerUser,WKFOuterUser"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  <!-- 主管查詢表單 -->
  <location path="FormUse/Superior/QueryFormBySuperior.aspx">
    <system.web>
      <authorization>
        <allow roles="DutyDeptSuperior"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
	<!--以上為FormUse目錄權限控制-->
  
	<location path="WebService">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

  <!--表單負責人目錄權限控制-->
  <location path="Responsible">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFResponsible"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>  
  <!--表單負責人目錄權限控制-->


  <!--表單查閱者目錄權限控制-->
  <location path="Reader">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFReader"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--表單查閱者目錄權限控制-->

  <!-- 批次退回申請者權限控制-->
  <location path="FormUse/ReturnSign/BatchReturnApplicant.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 批次退回申請者權限控制-->
  
  <!-- 電子公文查詢權限控制-->
  <location path="ElectronicDocument/QueryEDoc.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager,ElectronicDocumentMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 批次退回申請者權限控制-->
  
  <!-- 表單流程匯出-->
  <location path="Browse/Service">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Browse/ViewFormFlowForVeryDoc.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 表單流程驗證-->
  <location path="FormManagement/FormContent.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FormManagement/StyleSheet.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 表單流程驗證-->
 
  <!--電子簽核分析-->
  <!--表單使用次數統計-->
  <location path="Analysis/CountApplyForm.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager,WKFAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--表單平均結案時間-->
  <location path="Analysis/AvgTimeOfEndForm.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager,WKFAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--表單平均處理時間-->
  <location path="Analysis/AvgTimeOfProcessForm.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager,WKFAnalysisViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--電子簽核分析-->

  <!-- 外部組件註冊 -->
  <location path="Admin/SetTrigger.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 罐頭意見維護 -->
  <location path="Admin/SignComment.aspx">
    <system.web>
      <authorization>
        <allow roles="WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 平行流程設計 -->
  <location path="FlowManagement/ParallelDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="WKFDesigner,WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- 簽核字詞設定 -->
  <location path="CustomWords/CustomWords.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 表單權限查詢 -->
  <location path="Permission/ViewPermission.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,WKFManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 表單交接 -->
  <location path="FormManagement/HandOverManagement.aspx">
    <system.web>
      <authorization>
        <allow roles="WKFHandOver,WKFClassifiedHandOver"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 表單查閱者查詢 -->
  <location path="Reader/FormReaderManager.aspx">
    <system.web>
      <authorization>
        <allow roles="WKFReader"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 表單負責人管理 -->
  <location path="Responsible/FormAdministrator.aspx">
    <system.web>
      <authorization>
        <allow roles="WKFResponsible"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  
</configuration>
