<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- 刷卡設定-已不使用，故阻擋所有人 -->
  <location path="PunchIPRange.aspx">
    <system.web>
      <authorization>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--維護權限設定-->
  <location path="AuthSettingEditDialog.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- 刷卡IP範圍設定 -->
  <location path="PunchIPSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager,PunchIPMaintainer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- 維護刷卡IP範圍 -->
  <location path="PunchIPRangeEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager,PunchIPMaintainer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- App刷卡範圍設定 -->
  <location path="PunchPositionSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager,PunchPositionMaintainer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 維護App刷卡範圍 -->
  <location path="PunchPositionRangeEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager,PunchPositionMaintainer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- 可用App刷卡設定 -->
  <location path="PunchAPPSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager,PunchAPPMaintainer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- 維護可用App刷卡 -->
  <location path="PunchUseOnlyAPPEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager,PunchAPPMaintainer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- 特殊人員刷卡設定 -->
  <location path="PunchExcludeSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager,PunchExcludeMaintainer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- 特殊人員刷卡設定 -->
  <location path="PunchExcludeEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager,PunchExcludeMaintainer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
