<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--設定-->
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,PMSManager"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  
  <!--專案查詢人員設定-->
  <location path="QueryUserSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
