<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- 公告權限設定 -->
  <location path="AuthoritySetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,BulletinManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 公告類別設定 -->
  <location path="ClassSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,BulletinManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 新增公告 -->
  <location path="CreateBulletin.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,BulletinManager,BulletinPostUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 修改公告 -->
  <location path="UpdateBulletin.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,BulletinManager,BulletinPostUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- 分類公告維護 -->
  <location path="ClassifyMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,BulletinManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--瀏覽記錄-->
  <location path="UserReadBulletin.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,BulletinManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--公告審核-->
  <location path="BulletinExamine.aspx,ViewBulletinByExamine.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,BulletinExaminer,BulletinClassExamineUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ViewBulletinByExamine.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,BulletinExaminer,BulletinClassExamineUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
