<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  <system.web>
    <authorization>
      <allow roles="SystemAdmin,PollingManager,PollingTopicMaster,PollingObjectUser"/>
      <deny users="*"/>
    </authorization>
  </system.web>

  <!--議題管理員設定-->
  <location path="SubjectMasterSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PollingManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--新增修改投票-->
  <location path="CreatePolling.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PollingManager,PollingTopicMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="ChartImage.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
