<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--刷卡資料匯出-->
  <location path="ExportPunchDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--刷卡資料匯出-檢視錯誤訊息Dialog-->
  <location path="ExportPunchLog.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
