<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--審核-->
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow roles="SystemAdmin,PMSManager,PMS_PM,PMSAuditor,PMSSeriesDirector"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

  <!--審核結果-->
  <location path="Outcome.aspx">
    <system.web>
      <authorization>
        <allow roles="PMS_PM,PMSAuditor,PMSSeriesDirector"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--改善-->
  <location path="Reform.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager,PMS_PM,PMSAuditor,PMSSeriesDirector"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!--審核歷程-->
  <location path="Track.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager,PMSCreator,PMS_PM,PMSAuditor,PMSSeriesDirector,PMSTaskDirector,PMSViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
