<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--客戶資料維護-->
  <location path="CustomerDataMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataCreater,CUSDataDeletion,CUSDataManager,CUSDataModifier,CUSDataViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
    <!--客戶資料維護-維護客戶資料Dialog-->
  <location path="CustomerEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataCreater,CUSDataDeletion,CUSDataModifier,CUSDataManager,CUSDataViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
    
    <!--客戶資料維護-匯入客戶Dialog-->
  <location path="ImportCustomerData.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataCreater,CUSDataDeletion,CUSDataModifier,CUSDataManager,CUSDataViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
    
    <!--客戶資料維護-匯出客戶Dialog-->
  <location path="ExportCustomerData.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataCreater,CUSDataDeletion,CUSDataModifier,CUSDataManager,CUSDataViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
    
  <!--進階查詢-->
  <location path="AdvancedQuery.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataCreater,CUSDataDeletion,CUSDataManager,CUSDataModifier,CUSDataViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
     
  <!--進階查詢-聯絡人資料清單Dialog-->
  <location path="BrowseCustomerData.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataCreater,CUSDataDeletion,CUSDataManager,CUSDataModifier,CUSDataViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--進階查詢-聯絡人資料明細Dialog-->
  <location path="BrowseContactDataList.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataCreater,CUSDataDeletion,CUSDataManager,CUSDataModifier,CUSDataViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--角色權限設定-->
  <location path="AuthoritySetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--主檔維護-->
  <location path="BaseDataMaintain.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--事件檢視-->
  <location path="QueryEventLog.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--新增客戶數統計-->
  <location path="Charts/GlobalPublishCountChart.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataCreater,CUSDataDeletion,CUSDataManager,CUSDataModifier,CUSDataViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!--資料統計分析-->
  <location path="Charts/GlobalDataStatisticsChart.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,CUSDataCreater,CUSDataDeletion,CUSDataManager,CUSDataModifier,CUSDataViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
