<?xml version="1.0" encoding="utf-8"?>
<configuration>    
  <system.web>
    <authorization>
      <allow roles="SystemAdmin,ForumManager,ForumAreaMaster,ForumBoardMaster,ForumUser"/>
      <deny users="*"/>
    </authorization>
  </system.web>

  <!-- 討論區設定 -->
  <location path="AreaSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- 討論區區版主設定 -->
  <location path="AreaBoardMasterSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 討論區設定 -->
  <location path="BoardSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumManager,ForumAreaMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 建立討論區 -->
  <location path="CreateBoard.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumManager,ForumAreaMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 修改討論區 -->
  <location path="UpdateBoard.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumManager,ForumAreaMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 精華區設定 -->
  <location path="EssenceSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumManager,ForumAreaMaster,ForumBoardMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 精華區目錄設定 -->
  <location path="EssenceFolderSetting.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumManager,ForumAreaMaster,ForumBoardMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 精華區文章搬移 -->
  <location path="EssenceArticleMove.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumManager,ForumAreaMaster,ForumBoardMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 將文章加入精華區 -->
  <!--<location path="AddToEssenceFolder.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumManager,ForumAreaMaster,ForumBoardMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- 版主推廌文章 -->
  <location path="RecommendArticle.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,ForumManager,ForumAreaMaster,ForumBoardMaster"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
 
</configuration>
