<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- 簡訊管理	-->
  <location path="SMSConfig.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SMSManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 簡訊發送	-->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SMSManager,SMSUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 新增簡訊發送	-->
  <!--<location path="SendMsg.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SMSManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- 簡訊查詢	-->
  <location path="QueryMessage.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SMSManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 生日簡訊	-->
  <location path="SendBirthdayDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SMSManager,SMSUser"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- 預約發送	-->
  <!--<location path="SendBirthdayMsg.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SMSManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- 罐頭簡訊	-->
  <!--<location path="CannedMessageDialog.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SMSManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- 罐頭簡訊內容	-->
  <!--<location path="MaintainCannedText.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SMSManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- 發送訊息結果	-->
  <!--<location path="ErrorMessage.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SMSManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- 訊息明細	-->
  <!--<location path="MessageDetail.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,SMSManager"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

</configuration>
