<?xml version="1.0" encoding="utf-8"?>
<ServerConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Service Name="Seekafile" DisplayName="Seekafile Server" Debug="false" />
  <Indices>
    <Index IndexPath="D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\index\EIP">
      <Watch>
        <Folder>D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\FileCenter\EIP</Folder>
      </Watch>
      <Extensions>
        <Extension Name=".ebc" TypeName="Seekafile.Plugin.Default.EbcPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".rtf" TypeName="Seekafile.Plugin.Default.RtfPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.IFilterPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.FileInfoPlugin" Assembly="Seekafile.Plugin.Default.dll" />
      </Extensions>
    </Index>
    <Index IndexPath="D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\index\PERSONAL">
      <Watch>
        <Folder>D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\FileCenter\PERSONAL</Folder>
      </Watch>
      <Extensions>
        <Extension Name=".ebc" TypeName="Seekafile.Plugin.Default.EbcPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".rtf" TypeName="Seekafile.Plugin.Default.RtfPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.IFilterPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.FileInfoPlugin" Assembly="Seekafile.Plugin.Default.dll" />
      </Extensions>
    </Index>
    <Index IndexPath="D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\index\BRIEFCASE">
      <Watch>
        <Folder>D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\FileCenter\BRIEFCASE</Folder>
      </Watch>
      <Extensions>
        <Extension Name=".ebc" TypeName="Seekafile.Plugin.Default.EbcPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".rtf" TypeName="Seekafile.Plugin.Default.RtfPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.IFilterPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.FileInfoPlugin" Assembly="Seekafile.Plugin.Default.dll" />
      </Extensions>
    </Index>
    <Index IndexPath="D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\index\BULLETIN">
      <Watch>
        <Folder>D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\FileCenter\BULLETIN</Folder>
      </Watch>
      <Extensions>
        <Extension Name=".ebc" TypeName="Seekafile.Plugin.Default.EbcPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".rtf" TypeName="Seekafile.Plugin.Default.RtfPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.IFilterPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.FileInfoPlugin" Assembly="Seekafile.Plugin.Default.dll" />
      </Extensions>
    </Index>
    <Index IndexPath="D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\index\FORUM">
      <Watch>
        <Folder>D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\FileCenter\FORUM</Folder>
      </Watch>
      <Extensions>
        <Extension Name=".ebc" TypeName="Seekafile.Plugin.Default.EbcPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".rtf" TypeName="Seekafile.Plugin.Default.RtfPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.IFilterPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.FileInfoPlugin" Assembly="Seekafile.Plugin.Default.dll" />
      </Extensions>
    </Index>
    <Index IndexPath="D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\index\DMS\DMS_SOURCE">
      <Watch>
        <Folder>D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\FileCenter\DMS\DMS_SOURCE</Folder>
      </Watch>
      <Extensions>
        <Extension Name=".ebc" TypeName="Seekafile.Plugin.Default.EbcPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".rtf" TypeName="Seekafile.Plugin.Default.RtfPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.IFilterPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.FileInfoPlugin" Assembly="Seekafile.Plugin.Default.dll" />
      </Extensions>
    </Index>
    <Index IndexPath="D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\index\WKF">
      <Watch>
        <Folder>D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\FileCenter\WKF</Folder>
      </Watch>
      <Extensions>
        <Extension Name=".ebc" TypeName="Seekafile.Plugin.Default.EbcPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".rtf" TypeName="Seekafile.Plugin.Default.RtfPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.IFilterPlugin" Assembly="Seekafile.Plugin.Default.dll" />
        <Extension Name=".*" TypeName="Seekafile.Plugin.Default.FileInfoPlugin" Assembly="Seekafile.Plugin.Default.dll" />
      </Extensions>
    </Index>
  </Indices>
</ServerConfig>