<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="File"
            archiveEvery="Day"
            archiveNumbering="Rolling" 
            maxArchiveFiles="7" 
            concurrentWrites="true"
            fileName="${basedir}/app_data/logs/${date:format=yyyy-MM-dd}-${logger}.log"
            encoding="utf-8"
             />
    <target name="Diag" xsi:type="File"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            fileName="${basedir}/app_data/logs/${date:format=yyyy-MM-dd}-${logger}.log"
            encoding="utf-8"
            layout="
Time                  = ${date}${newline}
Machine               = ${event-properties:item=Machine}${newline}
RequestUri            = ${event-properties:item=RequestUri}${newline}
RequestMethod         = ${event-properties:item=RequestMethod}${newline}
RequestIpAddress      = ${event-properties:item=RequestIpAddress}${newline}
RequestContentType    = ${event-properties:item=RequestContentType}${newline}
RequestHeaders        = ${event-properties:item=RequestHeaders}${newline}
RequestContentBody    = ${event-properties:item=RequestContentBody}${newline}
RequestTimestamp      = ${event-properties:item=RequestTimestamp}${newline}
RequestRouteTemplate  = ${event-properties:item=RequestRouteTemplate}${newline}${newline}${newline}
ResponseContentType   = ${event-properties:item=ResponseContentType}${newline}
ResponseStatusCode    = ${event-properties:item=ResponseStatusCode}${newline}
ResponseHeaders       = ${event-properties:item=ResponseHeaders}${newline}
ResponseContentBody   = ${event-properties:item=ResponseContentBody}${newline}
ResponseTimestamp     = ${event-properties:item=ResponseTimestamp}${newline}
----------------------------------------------------------------------------
"
             />
  </targets>
  <targets>
    <target xsi:type="NLogViewer"
            name="viewer"
            address="udp://127.0.0.1:9999"/>
  </targets>
  <rules>
    <logger name="WebApiDiag" minlevel="Debug" writeTo="Diag" />
    <logger name="MNext" minlevel="Debug" writeTo="file,viewer" />
    
  </rules>
</nlog>