<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Ede.Uof.Utility">
      <section name="httpCompress" type="Ede.Uof.Utility.HttpCompress.SectionHandler, Ede.Uof.Utility.HttpCompress" />
      <section name="fileHandler" type="Ede.Uof.Utility.FileCenter.Settings.SectionHandler, Ede.Uof.Utility.FileCenter" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <Ede.Uof.Utility>
    <!--      
      <compressionModule preferredAlgorithm="deflate|gzip" compressionLevel="high|normal|low"/>
            -->
    <httpCompress preferredAlgorithm="gzip" compressionLevel="high">
      <excludedMimeTypes>
        <add type="image/jpeg" />
        <add type="image/gif" />
        <add type="image/png" />
        <add type="application/vnd.ms-excel" />
        <add type="application/javascript" />
        <add type="application/json" />
        <add type="application/x-zip-compressed" />
      </excludedMimeTypes>
      <excludedPaths>
        <add path="Common/FileCenter/V3/Handler/DownloadHandler.ashx" />
        <add path="Common/FileCenter/DownloadFile.ashx" />
        <add path="Common/DownloadTempFile.ashx" />
        <add path="Common/javascript/CombineScriptsHandler.ashx" />
        <add path="Telerik.Web.UI.WebResource.axd" />
        <add path="ScriptResource.axd" />
        <add path="WebResource.axd" />
        <add path="Common/RemoteFile/DownloadHandler.ashx" />
        <add path="MobilePackage" />
        <add path="api/signalr/connect" />
      </excludedPaths>
    </httpCompress>
    <fileHandler>
      <downloadHandlers>
        <add name="default" localPath="~/Common/FileCenter/V3/Handler/DownloadHandler.ashx" remotePath="DownloadHandler.ashx" />
        <add name="dms_pdf_watermark" localPath="~/DMS/Service/WatermarkHandler.ashx" remotePath="DmsPdfWatermarkHandler.ashx" />
        <add name="wkf_pdf_watermark" localPath="~/Common/DCS/WkfWatermarkHandler.ashx" remotePath="WkfWatermarkHandler.ashx" />
        <add name="xpspart" localPath="~/Common/DCS/DocumentPartHandler.ashx" remotePath="DocumentPartHandler.ashx" />
        <add name="doc2img" localPath="~/Common/DCS/DocumentPartToImageHandler.ashx" remotePath="DocumentPartToImageHandler.ashx" />
      </downloadHandlers>
      <uploadHandlers>
        <add name="default" localPath="~/Common/FileCenter/V3/Handler/AsyncUploadHandler.ashx" remotePath="UploadHandler.ashx" />
        <add name="post" localPath="~/Common/FileCenter/V3/Handler/PostUploadHandler.ashx" remotePath="PostUploadHandler.ashx" />
      </uploadHandlers>
      <actionHandlers>
        <add name="clone" localPath="~/Common/FileCenter/V3/Handler/CloneHandler.ashx" remotePath="CloneHandler.ashx" />
        <add name="transport" localPath="~/Common/FileCenter/V3/Handler/TransportService.asmx" remotePath="TransportService.asmx" />
      </actionHandlers>
    </fileHandler>
  </Ede.Uof.Utility>
  <connectionStrings>
    <add name="connTOERP" connectionString="data source='.';initial catalog='NORTHWIND';User Id='UOFDEV';Password='Pa$$w0rd';Max Pool Size=300" providerName="System.Data.SqlClient" />
    <add name="connectionstring" connectionString="data source='.';initial catalog='UOF_CAR';User Id='UOFDEV';Password='Pa$$w0rd';Max Pool Size=300" providerName="System.Data.SqlClient" />
    <add name="104connectionstring" connectionString="data source='';initial catalog='';User Id='';Password='';Max Pool Size=300" providerName="System.Data.SqlClient" />
    <add name="bigdataconnectionstring" connectionString="data source='';initial catalog='';User Id='';Password='';Max Pool Size=300" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ReleaseType" value="D" />
    <add key="ProductVersion" value="24.0.8398" />
    <add key="PatchNo" value="202212" />
    <add key="TaskEngineSerivceUrl" value="http://localhost:6789" />
    <add key="DocEngineSerivceUrl" value="http://localhost:6799/" />
    <add key="FileStorageFolder" value="D:\技轉教學\CAR\UOF_Training\UOF24\App_Data\" />
    <add key="XpsToImageSavedFolder" value="" />
    <add key="SiteMap" value="~/App_Data/SiteMap.xml" />
    <add key="ChioceCenterSearchTag" value="false" />
    <add key="wkfFileTransferTemp" value="C:\UOF_Temp\WKF_TempFile\" />
    <add key="PublicKey" value="PFJTQUtleVZhbHVlPjxNb2R1bHVzPno4RTh0S0RvZHNwS3ZHZkJxNStpQ08vMjdZeHhBK1Y4SjllRENDbHBQZk9ZZVEyRXAvV25nZ1dmcUMyLzdiRVhGdlU2SUdOVERWVjBENEJEWkNhUWNET0dkNHZOUjU3c2xCQ3FGekczYTc4UHgrWDhhaDVMeUl6YWlLQnRBWUUyUTRqbzJSQ0VDbkZnWFNFNm4rVDVEZ1BidjRFN1ZFYktjU2xhcHRrVDk0VT08L01vZHVsdXM+PEV4cG9uZW50PkFRQUI8L0V4cG9uZW50PjwvUlNBS2V5VmFsdWU+" />
    <add key="SecurityService.Security" value="http://tw.every8d.com/API20/Security.asmx" />
    <add key="MessageService.Message" value="http://tw.every8d.com/API20/Message.asmx" />
    <add key="sendParamSMSApiUrl" value="https://api.e8d.tw/API21/HTTP/SendParamSMS.ashx" />
    <add key="sendSMS4FilterApiUrl" value="https://api.e8d.tw/API21/HTTP/sendSMS4FilterMessage.ashx" />
    <add key="getDeliveryStatusApiUrl" value="https://api.e8d.tw/API21/HTTP/getDeliveryStatus.ashx" />
    <add key="getCreditApiUrl" value="https://api.e8d.tw/API21/HTTP/getCredit.ashx" />
    <add key="OpenfindKey" value="1stopenfind" />
    <add key="OpenfindIV" value="1stopenfindiv" />
    <add key="PushPublicKey" value="PFJTQUtleVZhbHVlPjxNb2R1bHVzPnpnYzhKb2wxQXFCeDBMQUZldGwvSCtaRlg4bHdFUHphRTg3WWVrTXh6VVZEYUFON2ZFVFV5a2gyUVl2SSttSkZUYk8wSXBsVXFUYkVMLytYM1N5Mmo1NGY2RTZQYzVxOENZRFB2RXl6TmJPWWlXV0MvNTZUdXgxa0JmNFdweCs5MjNlYmRxcllFcDBrNUFUU1l5aTdWVVMvMS9VUXV1dytIaGNrbkNIWHE4OD08L01vZHVsdXM+PEV4cG9uZW50PkFRQUI8L0V4cG9uZW50PjwvUlNBS2V5VmFsdWU+" />
    <add key="TalkPublicKey" value="PFJTQUtleVZhbHVlPjxNb2R1bHVzPnJnSStFVDlOb3dWS0lmcnpENERXTjY2REVxSjVmTVgzL0hqbElaa002RjZUTWUxdHdEZEQ3OUk2VHFCRnljV0VDTGpYcUdvamFNekZaQ2ViZElETFpVWjFheElYNGtjZ2lBUEUwSXMyVE5kYTI4TUtycHFsUW1aZEVQNFVhbzRmOUhxTmNSYnJIZm5kSHhJOUN6ck8yUkhrVDd4TTJMcXl2dGhiVzQ2eEp6az08L01vZHVsdXM+PEV4cG9uZW50PkFRQUI8L0V4cG9uZW50PjwvUlNBS2V5VmFsdWU+" />
    <add key="aspnet:MaxHttpCollectionKeys" value="2000" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="aspnet:AllowAsyncDuringSyncStages" value="true" />
    <add key="DcsPdfPagesCountLimit" value="400" />
    <add key="DcsDefaultTimeout" value="30" />
    <add key="AdConnectionProtocol" value="LDAP" />
    <add key="Telerik.Web.UI.ScriptFolders" value="~/common/javascript/;" />
    <add key="Telerik.Web.UI.StyleSheetFolders" value="~/App_Themes/; ~/common/style/; ~/MForm/Content/SemanticUI/; ~/WKF/FormManagement/MultiColumnDesign/Style/; ~/Edoc/Common/Style/" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="GoogleAuthProxyUrl" value="https://googleauthproxy.uof.tw/GoogleCalendarAuth/" />
    <add key="LicenseInfo" value="true" />
    <add key="EnableWebApiDetailLogging" value="false" />
    <add key="owin:appStartup" value="Ede.Uof.WebApi.SR.Startup, Ede.Uof.WebApi.SR" />
    <add key="Telerik.Upload.AllowedCustomMetaDataTypes" value="Ede.Uof.Utility.FileCenter.V3.UofAsyncUploadConfiguration" />
    <add key="aspnet:RequestQueueLimitPerSession" value="2147483647" />
  </appSettings>
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="CompressionModule" type="Ede.Uof.Utility.HttpCompress.HttpModule, Ede.Uof.Utility.HttpCompress" />
      <add name="OnlineManagement" type="Ede.Uof.Utility.OnlineManagement.HttpModule, Ede.Uof.Utility.OnlineManagement" />
    </httpModules>
    <compilation debug="true" targetFramework="4.8" optimizeCompilations="true">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.Owin.Host.SystemWeb" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--<authentication mode="Windows"/>-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" name=".ASPXFORMSAUTH" defaultUrl="~/Homepage.aspx" slidingExpiration="true" timeout="30" protection="All" cookieSameSite="Lax" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="RemoteOnly" />
    <httpRuntime targetFramework="4.8" useFullyQualifiedRedirectUrl="false" maxRequestLength="2097151" executionTimeout="3600" requestValidationMode="2.0" enableVersionHeader="false" />
    <pages enableViewStateMac="true" validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <machineKey decryptionKey="AutoGenerate" validation="SHA1" validationKey="AutoGenerate" />
    <trust level="Full" legacyCasModel="false" />
    <httpCookies httpOnlyCookies="true" sameSite="Lax" />
    <sessionState cookieSameSite="Lax" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices />
      <!--<scriptResourceHandler enableCompression="true" enableCaching="true"/>-->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <!--<mimeMap fileExtension=".less" mimeType="text/css" />-->
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147482624" />
        <verbs allowUnlisted="true">
          <add verb="TRACE" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <!--<httpErrors errorMode="Detailed" />    -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="404.html" responseMode="File" />
      <remove statusCode="503" subStatusCode="-1" />
      <error statusCode="503" path="app_offline.htm" responseMode="File" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="500" path="500.html" responseMode="File" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="referrer-policy" value="same-origin" />
        <add name="Access-Control-Allow-Headers" value="Origin,cache-control,content-type,man,messagetype,AccessToken,Version,app-type,DeviceOffset" />
        <add name="X-XSS-Protection" value="0" />
        <add name="X-Robots-Tag" value="noindex, nofollow" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ChartImage_axd" verb="*" preCondition="integratedMode" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" />
      <add name="Telerik.Web.UI.WebResource" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="false">
      <add name="CompressionModule" type="Ede.Uof.Utility.HttpCompress.HttpModule, Ede.Uof.Utility.HttpCompress" />
      <add name="OnlineManagement" type="Ede.Uof.Utility.OnlineManagement.HttpModule, Ede.Uof.Utility.OnlineManagement" />
      <add name="DMSMapPath" type="Ede.Uof.DMS.MapPath.DMSMapPath, Ede.Uof.DMS.MapPath" />
    </modules>
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
  <location path="Ede.Uof.Utility.Task.Engine.exe.config">
    <system.web>
      <authorization>
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ADAuth" inheritInChildApplications="false">
    <system.web />
  </location>
  <location path="api">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
        <clear />
      </httpErrors>
    </system.webServer>
  </location>
  <location path="api/signalr">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="MobilePackage">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="login">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="login/index">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/images/Stickers">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Common/images/Emoticons">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
  <location path="Common/Redirect">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ForgotPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/DCS">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/dialog.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/dialog2.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/ChoiceCenter/ChoiceHandlerForMobile.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/Javascript">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/RemoteFile">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/FileCenter/V3/Handler/AsyncUploadHandler.ashx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/FileCenter/V3/Handler/PostUploadHandler.ashx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/FileCenter/V3/Handler">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/FileCenter/Progress">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/FileCenter/ShowImage.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/FileCenter/DownloadFile.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="logo.ico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/UsbKey">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/Images/1steLogo.gif">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WebService">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
        <clear />
      </httpErrors>
    </system.webServer>
  </location>
  <location path="PublicAPI">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
        <clear />
      </httpErrors>
    </system.webServer>
  </location>
  <location path="WKF/ExampleWS">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="WKF/WebService/TransferFormWS.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
      <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
        <clear />
      </httpErrors>
    </system.webServer>
  </location>
  <location path="EIP/EM/Upgrade/updates.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="System/Config/Image">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="EIP/Forum/image">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="EIP/EM/Upgrade">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Common/Style">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="jquery.min.map">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CDS/Images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Calendar">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Basic/Personal/Password/ForgotPasswordVerify.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Basic/Personal/Password/ChangePasswordByForgot.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="RedirectUrl">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.Common" publicKeyToken="d55d733d2bfd5065" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.632" newVersion="4.0.0.632" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GrapeCity.Documents.Imaging" publicKeyToken="d55d733d2bfd5065" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.632" newVersion="4.0.0.632" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.10.0" newVersion="1.8.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.16.1.0" newVersion="0.16.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
</configuration>