<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--超時出勤回報作業-->
    <location path="OverAttendManage.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--超時出勤回報作業-手動起單Dialog-->
  <location path="OverAttendExecuteForm.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--超時出勤回報作業-明細Dialog-->
  <location path="OverAttendDetail.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!--超時出勤回報作業-錯誤訊息Dialog-->
  <location path="OverAttendLog.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,DutyManager" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--超時出勤回報作業-錯誤訊息Dialog-->
  <location path="CallDllFormListFor104.aspx">
	<system.web>
		<authorization>
			<allow roles="SystemAdmin,DutyManager" />
			<deny users="*" />
		</authorization>
	</system.web>
  </location>
</configuration>
