<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!--查詢/*-->
  <location path=".">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,PMSManager,PMSCreator,PMS_PM,PMSAuditor,PMSSeriesDirector,PMSTaskDirector,PMSViewer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ChartImage.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
