<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="SystemAdmin" />
      <deny users="*" />
    </authorization>
    <compilation>
      <assemblies />
    </compilation>
    <pages />
  </system.web>
  <!--自訂選單-->
  <location path="CustomMenu/Default.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomMenu/LinkUrl.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomMenu/PreviewHtmlContent.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomMenu">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomMenu/LinkUrlNewWindow.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/Hierarchical.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager,SystemAdmin" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/SendPW.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager,SystemAdmin,MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/SearchDepartmentHierarchical.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/ExportEmployeeExcelHierarchical.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location> 
  <location path="Organization/Employee/ImportDutySettTypeData.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/ImportTimeZoneData.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/ImportCardNbrData.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Department/HierarchicalDepartment.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Department/HierarchicalEmployee.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/AddHierarchical.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/SelectTitle.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Department/icon_images">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/EmployeeHR.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/Add.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/JobHistory.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Employee/HR">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="MulitSitesMenu/LinkUrlNewWindow.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Organization/Employee/Import Employee Sample.xls">
    <system.web>
      <authorization>
        <allow users="*" />    
      </authorization>
    </system.web>
  </location>

  <location path="Organization/Member/Import Member Sample.xls">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Organization/Employee/DownloadEmpExcel.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Organization/Employee/EditHRPhoto.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Member/MemberManagermentDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Group/HierarchicalGroup.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Member/ClassManage.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Member/Add.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Group/ManageMember.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Member/ImportMember.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="AD/ImportUser.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Member/ExportMemberExcel.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Member/SelectHierarchicalGroup.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Group/MoveHierarchicalMember.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Member/SearchGroup.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Member/SelectGroup.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Member/DownloadMemExcel.aspx">
    <system.web>
      <authorization>
        <allow roles="MembManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="icon_images">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="LocationTimeZone/ShowSetting.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Department/History/DeptHistoryDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager,SystemAdmin" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="Organization/Department/History/DeptHistoryEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="HierarchicalManager,SystemAdmin" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="MNextMenu/EventsboardDefault.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,EventsBoardManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="MNextMenu/EventsboardEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,EventsBoardManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="MNextMenu/EventsboardOrderEdit.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin,EventsBoardManager" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="SpaceLend/ChartImage.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <!-- Proxy狀態查詢 -->
  <location path="Config/ProxyTfrStatusQuery.aspx">
    <system.web>
      <authorization>
        <allow roles="SystemAdmin" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>