<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings/>
    <connectionStrings/>  
    <system.web>
      <authentication mode="Windows"/>
      <authorization>
        <allow users="?,*"/>
      </authorization>
     
      <healthMonitoring enabled="false" />          
            
      <httpModules>
        <remove name="CompressionModule" />
        <remove name="OnlineManagement" />
        <remove name="DMSMapPath" />
      </httpModules>

      <roleManager enabled="false">
        <providers>
          <clear/>
        </providers>
      </roleManager>

      <compilation debug="false">
        <assemblies>
          <remove assembly="Microsoft.Owin.Host.SystemWeb" />
        </assemblies>
      </compilation>
  </system.web>
  <system.webServer>
     <modules  runAllManagedModulesForAllRequests="true">
        <remove name="CompressionModule" />
        <remove name="OnlineManagement" />
        <remove name="DMSMapPath" />
      </modules>
    <!--<httpErrors errorMode="Detailed" />    -->     
   <httpErrors errorMode="Custom" existingResponse="Replace">    
    <remove statusCode="401" subStatusCode="-1" />
    <error statusCode="401"  path="401.html" responseMode="File" />
      <error statusCode="403" subStatusCode="7" path="403.7.html" responseMode="File" />
    </httpErrors>
  </system.webServer>
</configuration>   
