<?xml version="1.0" encoding="utf-8" ?>

<!--
trigger 說明: 
file: 欲載入的DLL,不需副檔名
type: 繼承BaseTask 的類別
mode:執行的類型,共4種
	OnStarts:啟動時執行,只執行一次; 參數:無
	EveryDay:每日執行; 參數:hours,minutes
	DaysOfWeek:每週的第幾天執行;參數: days,hours,minutes
	DaysOfMonth:每月的第幾天執行;參數: days,hours,minutes
 
 參數可以使用的值
 hours:  數字0到23及下列雙引號中的符號 ", - * /"
 minutes: 數字0到59及下列雙引號中的符號 ", - * /"
 days:
    mode=DaysOfWeek時,數字1到7(代表星期日到星期六)及下列雙引號中的符號 ", - / L #"
    mode=DaysOfMonth:數字1到31及下列雙引號中的符號 ", - / L W"

 符號說明
 '*' 代表所有. 例如,"*" 在 minutes 欄位,代表  "每一分鐘".
 
 '-' 代表連續的範圍. 例如, "10-12" 在 hour 欄位,代表 "10點, 11點 跟 12點".
 
 ',' 代表多選的值. 例如, "2,4,6" 在 days 欄位且 mode=DaysOfWeek 時, 代表 "星期一,星期三,星期五".
 
 '/' 代表 第N次, 以 從第幾開始/每次增加多少. 例如, "0/15" 在 minutes 欄位 代表 "第 0, 15, 30, 及 45分鐘". 
 還有 "5/15" 在 minutes 欄位 代表 "第 5, 20, 35, 及 50 分鐘". 
 請注意 "/" 第二個數字代表的增量,在每個欄位會有不同的值. 對 minutes 來說, 數字的範圍從 0 到 59. 對 hours 來說是 0 到 23.
 例如, "30/30" 在 minutes 的欄位時,只會在第30分鐘執行一次, 因為30+30已經超過59.
 
 The 'L' 只允許出現在 days 欄位. 用來表示倒數 , 但是在不同的模式裡,所代表的意義不完全相同. 
 例如, "L" 在 mode=DaysOfMonth時,表示 每個月的最後一天. 
 如果用在 mode=DaysOfWeek 時, 只有一個"L"表示星期六. 但是如果是放數值在"L"前面 ,則表示每個月的最後一個星期幾 
 例如, "6L" 就表示每個月的最後一個星期五. 
 
 The 'W' 只允許出現在 days 且 mode=DaysOfMonth時. 用來指定"工作天" (星期一~五). 例如, "15W" 就表示 "離該月15號最近的一個工作天". 
 如果第15天是星期六, 會變成在星期五也就是第14天觸發. 如果第15天是星期日, 會變成在星期一也就是第16天觸發.
 如果第15天星期二, 那就會在星期二觸發. 如果指定 "1W" , 而且第一天是星期六, 則會在星期一也就是第3天觸發, 也就是說它的觸發點一定會在該月份的範圍.
 W 只能用在指定單一天，不能是範圍或列表值.
 
 'L' 可以跟 'W' 合併在 days 裡  'LW', 就表示該月的最後一個工作日".
 
 '#' 僅能用於days欄位而且 mode=DaysOfWeek 時。它用於指定月份中的第幾周的哪一天。例如，6#3，它意思是某月的第三個星期五 (6=星期五，#3代表第三周)。
 另一個例子 2#1 意思是某月的第一個星期一 (2=星期一，#1代表第一周)。注意，假如你指定 #5，然而月份中沒有第 5 周，那麼該月不會觸發。
 
範例:
 <triggers>
 
    啟動就執行
    <trigger type="Ede.Uof.Utility.Task.NewTask"  file="Ede.Uof.Utility.Task"  mode="OnStarts" />
    每10分鐘執行一次
    <trigger type="Ede.Uof.Utility.Task.NewTask" file="Ede.Uof.Utility.Task"  mode="EveryDay" hours="*" minutes="0/10"  />
    或者
    <trigger type="Ede.Uof.Utility.Task.NewTask" file="Ede.Uof.Utility.Task"  mode="EveryDay" hours="*" minutes="0,10,20,30,40,50"  />
    每天淩晨01:30
    <trigger type="Ede.Uof.Utility.Task.NewTask" file="Ede.Uof.Utility.Task"  mode="EveryDay" hours="1" minutes="30"  />
    星期一到五 淩晨02點及下午2點
    <trigger type="Ede.Uof.Utility.Task.NewTask" file="Ede.Uof.Utility.Task"  mode="DaysOfWeek" days="2-6" hours="2,14" minutes="0"  />
    每月的1,11,31號 9點到18點 0分
    <trigger type="Ede.Uof.Utility.Task.NewTask" file="Ede.Uof.Utility.Task"  mode="DaysOfMonth" days="1,11,31" hours="9-18" minutes="0"  />
    
  </triggers>

該排程的多國語
  <Tasks>
      <Task type="Ede.Uof.Utility.Task.NewTask">
        <culture name="zh-tw">新排程</culture>
        <culture name="zh-cn">新定时</culture>
        <culture name="en-us">NewTask</culture>
      </Task>
  </Tasks>


-->


<CDSTask>
  <triggers>
    <!--BPM外部資料庫起單用，有使用者再行解除註解，但需注意產品排程那邊是否也有開啟，不可同時啟用-->
    <!-- 2021/04/16 此次修改後，產品與客製兩邊已可重複啟用(排程啟動&多國語當重複時都會以客製優先)，但同一個地方還是不能有複數一樣名稱的排程-->
    <!--<trigger type="Ede.Uof.WKF.CreateTaskByExternalDt" file="Ede.Uof.WKF" mode="EveryDay" hours="*" minutes="0/5" />-->
  </triggers>
  <Tasks>
  </Tasks>
</CDSTask>